
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="hidden font-league" id="appointmentInput" role="dialog" data="">
    <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div id="backdrop" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

      <div id="modal" class="fixed inset-0 z-10 ">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
            <form class="" id="appointmentForm">
                <div id="modal-header" class="bg-white px-5 pt-5 md:px-4 md:pt-5 pb-6 sm:p-6 sm:pb-10">
                            @if (User.IsInRole(Helper.Admin))
                            {
                                <h4 class="text-xl text-center text-green-500 font-bold mb-4 ">Add/Edit Appointment</h4>

                            }
                            else
                            {
                                <h4 class="text-xl text-center text-green-500 font-bold mb-4 ">Appointment Details</h4>
                            }
                            <div id="modal-body" class=" flex flex-col space-y-4">
                        <div class="flex flex-col">
                            <label for="title" class="mb-2 font-bold">Title</label>
                            <input type="text" maxlength="100" class="border-1 border-gray-500 p-2 md:p-5" id="title"/>
                        </div>
                        <div class="">
                            <label for="title" class="mb-2 font-bold">Description</label>
                            <textarea type="text" class="border-1 border-gray-500 resize-none w-full h-38 p-2 md:p-5" id="description"></textarea>
                        </div>
                         <div class="flex align-center space-x-4">
                            <label for="appointmentDate" class="mb-2 font-bold">Start Date Time</label>
                            <input class="text" id="appointmentDate"/>
                        </div>
                                @if (User.IsInRole(Helper.Admin))
                                {
                                    <div class="flex align-center space-x-4">
                                        <label for="patients" class="mb-2 font-bold">Select Patients</label>
                                        <select id="patientId" class="border-1 border-gray-500" asp-items="@(new SelectList(ViewBag.PatientList, "Id", "Name"))"></select>
                                    </div>

                                }
                                else
                                {
                                    @if (User.IsInRole(Helper.Doctor)){
                                         <div class="flex align-center space-x-4">
                                            <label for="lblPatientName" class="mb-2 font-bold">Patient Name</label>
                                            <label class="border-1 border-gray-500 p-2 md:p-5 w-full h-10" id="lblPatientName" disabled></label>
                                        </div>
                                        <div class="flex align-center space-x-4">
                                            <label for="lblStatus" class="mb-2 font-bold">Status</label>
                                            <label class="border-1 border-gray-500 p-2 md:p-5 w-full h-10" id="lblStatus" disabled></label>
                                        </div>
                                    }
                                     @if (User.IsInRole(Helper.Patient)){
                                         <div class="flex align-center space-x-4">
                                            <label for="lblDoctorName" class="mb-2 font-bold">Doctor Name</label>
                                            <label class="border-1 border-gray-500 p-2 md:p-5 w-full h-10" id="lblDoctorName" disabled></label>
                                        </div>
                                        <div class="flex align-center space-x-4">
                                            <label for="lblStatus" class="mb-2 font-bold">Status</label>
                                            <label class="border-1 border-gray-500 p-2 md:p-5 w-full h-1    0" id="lblStatus" disabled></label>
                                        </div>
                                    }
                                }
                                <div class="flex align-center space-x-4">
                            <label for="patients" class="mb-2 font-bold">Duration</label>
                            <select id="duration" class="border-1 border-gray-500" asp-items="@ViewBag.Duration"></select>
                        </div>
                        <input type="hidden" id="id"/>
                         <div class="flex justify-end space-x-4">
                            <button type="button" id="modal-close" class="text-center text-white rounded-pill font-bold bg-amber-300 px-6 py-2 " onClick="(onCloseForm())">Close</button>

                                    @if (User.IsInRole(Helper.Admin))
                                    {
                                        <button type="button" id="modal-submit" class="modal-submit text-center text-white rounded-pill font-bold bg-green-500 px-6 py-2" onClick="onSubmitForm();">Submit</button> 
                                        <button type="button" id="modal-delete" class="text-center text-white rounded-pill font-bold bg-red-500 px-6 py-2" onClick="onDeleteAppointment();">Delete</button> 
                                        
                                    }
                                     @if (User.IsInRole(Helper.Doctor))
                                    { 
                                        <button type="button" id="modal-confirm" class="modal-submit text-center text-white rounded-pill font-bold bg-green-500 px-6 py-2" onClick="onConfirm();">Confirm</button> 
                                        <button type="button" id="modal-delete" class="text-center text-white rounded-pill font-bold bg-red-500 px-6 py-2" onClick="onDeleteAppointment();">Delete</button> 
                                        
                                    }
                        </div>
                    </div>
                </div>
            </form>
             @* <button type="button" class="inline-flex w-full justify-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">Deactivate</button>*@
          </div>
        </div>
      </div>
    </div>
</div>
