<div class="mt-20">

    @if (TempData.ContainsKey("newAdminSignUp"))
    {
        <div class="container">
            <div class="alert alert-success aler-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                <strong>Account cretated for @TempData["newAdminSignUp"].ToString()</strong>
            </div>
        </div>
    }

    <div class="md:px-8 px-4">
        @if (User.IsInRole(Helper.Admin))
        {
            <div id="divDoctorList" class="mb-5">
                <label class="">Select Doctor</label>
                @Html.DropDownList("doctorId", new SelectList(ViewBag.DoctorList, "Id", "Name"), new {@class="border-1", @onchange= "onDoctorChange()"})
            </div>
        }
        <div id="calendar" class=""></div>
    </div>
</div>

<partial name="_AddEditAppointment"/>