<div class="">
    <div class="md: px-4">
        @if (User.IsInRole(Helper.Admin))
        {
            <div id="divDoctorList" class="mb-5">
                <label class="">Select Doctor</label>
                @Html.DropDownList("doctorId", new SelectList(ViewBag.DoctorList, "Id", "Name"), new {@class="border-1", @onchange= "onDoctorChange()"})
            </div>
        }
        <div id="calendar" class=""></div>
    </div>
</div>

<partial name="_AddEditAppointment"/>